/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities  */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 870px;
    /* height: 605px; */
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 21px
}

hr {
    border: 1px solid #D1D1D1;
}

/* top player style  */

.top-players {
    margin-bottom: 27px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    grid-column-gap: 140px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    font-size: 18px;
    margin-left: 16px;
}

/* --------------
top-blog style
---------------  */

.top-blogs {
    margin-top: 30px
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-detail {
    margin-left: 16px;
    width: 197px;
    height: 103px;
}

.blog-title {
    font-size: 20px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 0;
    line-height: 34px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 6px;
    line-height: 24px;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

/* latest-course  */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    width: 225px;
    height: 269.79;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 20.0336px;
    line-height: 23px;
}

.course-author {
    font-size: 14.6913px;
    line-height: 17px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

.course-duration {
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
}

/* media queries  */

/* mobile devices  */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }
    .players, .blogs, .courses {
        /* background-color: hotpink; */
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog {
        flex-direction: column;
        align-items: center;
    }
}

/* tablet devices  */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .players, .courses {
        /* background-color: hotpink; */
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .player,.blog{

flex-direction: column;
align-items: center;
} */
}